body{
    background-color: darkseagreen;
    text-align: center;
}


input{
    width: 200px;
    height: 25px;
    margin: 10px;
    font-size: 15px;
}

#displayButton{
    width: 200px;
    height:30px;
    background-color: coral;
    border-radius: 10px;
    border: 2px solid black;
    margin:10px;
}
 #sortButton{
    width: 200px;
    height:30px;
    background-color:green;
    border-radius: 10px;
    border: 2px solid black;
    margin:10px;
    display: none;
 }

 #displayNames{
     font-size: 25px;
 }